@media (max-width: 650px){
    .header{    
        width: 100%;     
        padding: 25px;
        max-width: 1000px;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
  


    .perfil{
        width: 100%;   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .perfil__foto{
        width: 100%;
        max-width: 300px;
        border-radius: 50%;
        border:10px solid #8500a6;
    }


    .perfil__nome{
        font-family: 'Sacramento', cursive;
        font-size: 80px;
        font-weight: 400;
        color: #8500a6;
        margin: 30px 0;
    }


    .perfil__descricao{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 25px;
        font-weight: 400;
        color: #f4f4f4;
        margin: 0 15px;
        max-width: 600px;
        text-align: center;
        box-sizing: border-box;
    } 


    .footer{
        width: 100vw;    
        height: 40px;
        background-color: #4b005e;
        display: flex;
        align-items: center;
        justify-content: center;       
        flex-shrink: 0;
    }

}

@media (max-width: 520px){

    .article__titulo{  
        position: absolute;  
        font-size: 18px;
        font-weight: 400;
        color:#f3f3f3;
        margin: 15px 0;  
    }

    .article__descricao{
        height: auto;
        position: absolute;    
        margin: 50px 20px;
        padding: 0px;
        font-size: 13px;
        color: #c1c1c1;
        line-height: 1em;
        text-align: left;
        
    }








}
@media (max-width: 400px){
    .header{    
        width: 100%;     
        padding: 25px;
        max-width: 1000px;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }



    .perfil{
        width: 100%;   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .perfil__foto{
        width: 100%;
        max-width: 300px;
        border-radius: 50%;
        border:10px solid #8500a6;
    }


    .perfil__nome{
        font-family: 'Sacramento', cursive;
        font-size: 60px;
        font-weight: 400;
        color: #8500a6;
        margin: 30px 0;
    }


    .perfil__descricao{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        line-height: 20px;
        margin: 0 10px;
        color: #f4f4f4;
        margin: 0;
        max-width: 600px;
        text-align: center;
    } 


    .footer{
        width: 100vw;    
        height: 40px;
        background-color: #4b005e;
        display: flex;
        align-items: center;
        justify-content: center;       
        flex-shrink: 0;
    }
}