
@keyframes animacao{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(20px);
    }
}

:root {
    --maincolor: #8500a6;
    --darkerPurple:  #3f005b;
    --brigtherPurple: #bd00ec;
    --articleBGColor: #080808;
    
}

body{
    background: linear-gradient(#181818, rgb(10, 10, 10));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    color: #f4f4f4;
    font-family: 'Poppins', sans-serif;                  


}

.header{    
    width: 100%;     
    padding: 25px;
    max-width: 1500px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

em{    
    font-style: italic;
    font-weight: lighter;    
}

.header__link{
    text-decoration: none; 
    padding: 6px;
    box-sizing: border-box;
    transition: 0.4s ease-in-out;
    color: var(--maincolor);
    margin: 0 5px;  
}

.header__link:hover{
    transform: translateY(-10px);   
    color: #b014d7;
    scale: 1.4;
}

.header__link:focus{
    outline: none;
    background-color: #bcbcbc;
    border-radius: 30%;
}

.main{    
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
}

.linkJogo{
    color: var(--brigtherPurple);
}

.perfil{
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil__foto{
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    border:10px solid var(--maincolor);
}

.perfil__nome{
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    font-weight: 400;
    color: var(--maincolor);
    margin: 30px 0;
}

.perfil__descricao{    
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;    
    margin: 0 15px;
    max-width: 600px;
    text-align: center;
}

.section {   
    padding: 15px;
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.section__titulo{    
    font-size: 30px;
    font-weight: 400;
    color: var(--maincolor);
    margin: 30px 0;
}

.article{    
    position: relative;
    top: 0;
    background-color: var(--articleBGColor);
    border-radius: 50px 0px 50px 0px;
    padding: 10px;
    margin: 0 0 30px 0;
    height: auto;       
    min-height: 200px;   
    transition: 0.3s ease-in-out;      
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;          
}


.article__titulo{  
    position: absolute;  
    font-size: 20px;
    font-weight: 400;
    color:#f3f3f3;
    margin: 15px 0;  
}

.article__descricao{    
    position: relative;    
    margin: 50px 5px 10px 5px;
    padding: 10px;
    font-size: 15px;
    color: #c1c1c1;
    line-height: 1.2em;
    text-align: justify; 
}


.article:hover .overlay{
    box-shadow: 5px 5px 10px var(--brigtherPurple);
}

.article:hover .overlay::after{
    box-shadow: inset 3px 13px 10px -8px var(--brigtherPurple);
}



.overlay{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    height: 40px;
    padding: 15px 30px;
    width: 100%;
    background-color: var(--darkerPurple);
    border-radius: 50px 1px 60px 0px;   
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    transition: 0.3s ease-in-out;
    
}



.overlay::before,.overlay::after{
    content: '';
    position: absolute;
    background-color: var(--darkerPurple);
    left: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
}

.overlay::after{
    border-radius: 40px 0 0 0;
    background-color: var(--articleBGColor); 
    transition: 0.3s ease-in-out;   
    
   
}



.footer{
    width: 100%;    
    height: 40px;
    background-color: var(--darkerPurple);
    display: flex;
    align-items: center;
    justify-content: center;       
    flex-shrink: 0;
}

.footer__texto{
    font-size: 14px;
    font-weight: 400;    
}